.sell-form-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}
.edit-ticket-button{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}