.button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
  max-width: 100px;
  align-self: center;
  margin-bottom: 10px;
  transition: 0.5s;
}
.currentbutton {
  color: black;
  font-size: 1.1rem;
}
.button:hover {
  background-color: #004590;
}
