/* CategoryGrid.css */
.categories-section {
    display: flex;
    justify-content: center; 
    width: 90%;
    margin: 0 auto; 
  }
  
  .category-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto; /* Center the grid */
  }

@media (max-width: 768px) {
  .categories-section {
    flex-direction: column;
    align-items: center;
  }
  .category-grid {
    grid-template-columns: repeat(3, 1fr); /* Maintain 3 columns */
  }
}
  