/* Category.css */
.category {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(240, 229, 229);
}

.category-image {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.category-details {
  flex: 1;
  padding: 10px;
}

.category-title {
  font-size: 18px;
  font-weight: bold;
}

.category-description {
  font-size: 14px;
}

.category-button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
  max-width: 100px;
  align-self: center;
  margin-bottom: 10px;
  transition: 0.5s;
}
.category-button:hover {
  background-color: #004590;
}

@media (min-width: 768px) {
  .category {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
}
