/* MainPage.css */
.App {
    text-align: center;
  }
  
.MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.ProductGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
  }
  