/* MainPage.css */
.main-page {
    text-align: center;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 1) 0%, rgba(213, 213, 213, 1) 100%);
  }
.MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.ProductGridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
  }
  