.footer {
    overflow-x: hidden;
    background: #000;
    font-family: "Play", sans-serif;
    text-align: center;
    color: #fff; 
    width: 100%;
    bottom: -25px; 
    position: relative; 
    margin: 0px;
    padding: 0px;
}
.row {
    justify-content: center;
    width: 100%;
    margin: 0.3% 0%;
    padding: 0.1% 0%;
    font-size: 13px;
    display: flex;
}
  
.row a {
    text-decoration: none;
    color: #fff; 
    transition: 0.5s;
  }
  
.row a:hover {
    color: #3584de7a; 
  }
  
.row ul {
    width: 100%;
  }
  
.row ul li {
    display: inline-block;
    margin: 0px 30px;
  }
  
.row a i {
    font-size: 10px;
    margin: 0% 1%;
}
