.dashboard-navigation {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #135291;
    overflow-x: hidden;
    padding-top: 20px;
    color: #fff;
    padding-right: 5vh;
  }

  .dashboard-navigation a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #bce0fd;
    display: block;
  }
  
  .dashboard-navigation a:hover {
    font-weight: bold;
    cursor: pointer;
  }