.ticket-page {
  background-size: cover; /* Ensures the background image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the background image from repeating */
  height: 100%; /* Sets the height of the container to 100% of the viewport height */
  min-height: 100vh;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.sport {
  background-image: url("../../assets/backGroundImages/backGround sport picture.jpg");
}
.vacation {
  background-image: url("../../assets/backGroundImages/backGround vacation picture.jpg");
}
.concert {
  background-image: url("../../assets/backGroundImages/backGround concert picture.jpg");
}
.other {
  background-image: url("../../assets/backGroundImages/backGround other picture.jpg");
}

/* Additional styles for children components */

/* Container styling */
.ticket-details-container {
  max-width: 60vh;
  max-height: auto;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255,255,255,0.93);
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  justify-content: center;
}


/* Title styling */
.ticket-details-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Description styling */
.ticket-details-description {
  font-size: 16px;
  margin-bottom: 20px;
}

/* Price styling */
.ticket-details-price {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Other details styling */
.ticket-details-details {
  font-size: 16px;
  margin-bottom: 10px;
}

/* Image styling */
.ticket-details-image {
  max-width: 75%;
  max-height: 50%;
  margin-bottom: 20px;
  border-radius: 20px;
}

.ticket-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 500;
}


.ticket-button-add, .ticket-button-remove {
  padding: 2em; 
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: 1.5rem;
  margin-top: 2rem; 
  transition: 0.5s;
}

.ticket-button-add:hover{
  background-color: #4caf50;
}
.ticket-button-add{
  background-color: #55ca57;
}
.ticket-button-remove{
  background-color: rgb(205, 59, 59);
}
.ticket-button-remove:hover{
  background-color: rgb(166, 57, 57);
}

.ticket-edit-button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.ticket-edit-button:hover{
  background-color: #004590;
}
